In [1]:
import pandas as pd

# Assuming you have a Parquet file named 'example.parquet'
parquet_file_path = 'yellow_tripdata_2022-01.parquet'

# Using pyarrow to read Parquet file into Pandas DataFrame
df = pd.read_parquet(parquet_file_path, engine='pyarrow')

In [3]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2.463931e+06,2463931,2463931,2.392428e+06,2.463931e+06,2.392428e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.392428e+06,2.392428e+06
mean,1.707819e+00,2022-01-17 01:19:51.689724,2022-01-17 01:34:04.421902,1.389453e+00,5.372751e+00,1.415507e+00,1.660768e+02,1.635807e+02,1.194449e+00,1.294648e+01,1.006710e+00,4.914539e-01,2.385696e+00,3.749773e-01,2.967234e-01,1.916937e+01,2.282322e+00,8.249935e-02
min,1.000000e+00,2008-12-31 22:23:09,2008-12-31 23:06:56,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-4.800000e+02,-4.500000e+00,-5.000000e-01,-1.252200e+02,-3.140000e+01,-3.000000e-01,-4.803000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-09 15:37:41,2022-01-09 15:50:50.500000,1.000000e+00,1.040000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,7.200000e-01,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-01-17 12:11:45,2022-01-17 12:23:49,1.000000e+00,1.740000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-01-24 13:49:37.500000,2022-01-24 14:02:51,1.000000e+00,3.130000e+00,1.000000e+00,2.340000e+02,2.360000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.000000e+00,0.000000e+00,3.000000e-01,2.002000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-18 20:41:57,2022-05-18 20:47:45,9.000000e+00,3.061593e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.500000e+00,1.250000e+00
std,5.021375e-01,NaN,NaN,9.829686e-01,5.478714e+02,5.917573e+00,6.546806e+01,7.079016e+01,5.001778e-01,2.558149e+02,1.236226e+00,8.291560e-02,2.830698e+00,1.680538e+00,4.374741e-02,2.559641e+02,7.432040e-01,3.125554e-01

In [24]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [8]:
df[df['payment_type']==1].loc[:,'tip_amount'].mean()

3.022075542143099

In [12]:
df[df['payment_type']==2].shape

(495171, 19)

In [15]:
df[df['payment_type']==2].loc[:,'tip_amount'].mean()

0.0007667048352993209

In [18]:
df[(df['payment_type']==2)&(df['tip_amount']!=0)].shape

(93, 19)

In [23]:
df.isna().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          71503
trip_distance                0
RatecodeID               71503
store_and_fwd_flag       71503
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     71503
airport_fee              71503
dtype: int64

In [13]:
def transform_dates(df: pd.DataFrame):

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
27273,2,2022-01-01 12:05:06,2022-01-01 12:05:16,1.0,0.00,1.0,N,193,193,3,-2.50,0.0,-0.5,-0.13,0.0,-0.3,-3.43,0.0,0.0
29675,2,2022-01-01 13:53:00,2022-01-01 13:53:59,1.0,0.00,1.0,N,193,193,3,-2.50,0.0,-0.5,-0.01,0.0,-0.3,-3.31,0.0,0.0
74134,2,2022-01-02 11:04:55,2022-01-02 11:07:28,1.0,0.02,1.0,N,193,193,3,-3.50,0.0,-0.5,-1.07,0.0,-0.3,-5.37,0.0,0.0
77022,2,2022-01-02 12:06:56,2022-01-02 12:07:13,1.0,0.00,1.0,N,193,193,3,-2.50,0.0,-0.5,-0.99,0.0,-0.3,-4.29,0.0,0.0
83180,2,2022-01-02 13:51:54,2022-01-02 13:54:06,2.0,0.83,1.0,N,107,170,3,-4.50,0.0,-0.5,-2.34,0.0,-0.3,-10.14,-2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377218,2,2022-01-31 19:50:28,2022-01-31 19:50:45,1.0,0.00,1.0,N,7,7,3,-2.50,-1.0,-0.5,-0.13,0.0,-0.3,-4.43,0.0,0.0
2383492,2,2022-01-31 21:20:52,2022-01-31 21:21:00,1.0,0.00,1.0,N,193,193,3,-2.50,-0.5,-0.5,-0.01,0.0,-0.3,-3.81,0.0,0.0
2409503,2,2022-01-11 12:33:10,2022-01-11 12:34:00,NaN,0.19,NaN,None,233,170,0,-14.40,0.0,-0.5,-2.78,0.0,0.3,-20.18,NaN,NaN
2409618,2,2022-01-11 13:10:10,2022-01-11 13:12:00,NaN,0.16,NaN,None,141,141,0,26.85,0.0,-0.5,-3.60,0.0,0.3,20.55,NaN,NaN
2435535,2,2022-01-22 18:32:10,2022-01-22 18:33:00,NaN,0.00,NaN,None,230,230,0,-8.31,0.0,-0.5,-2.27,0.0,0.3,-13.28,NaN,NaN